*{
  margin:0;
  font-family: serif;
}
.body{
  display:grid;
  row-gap:1em;
  justify-content: center;
  
}

/*--- .home-header styles begins here ---*/

.header{
  display:grid;
  grid-template-columns: 1fr 1fr;
  width:100vw;
  height:fit-content;
  padding:1.5em;
  color: #fff;
  background-color: #212121;
  justify-content:space-between;
  align-items: center;
  box-shadow: 0px 0px 10px grey;
}

.header__name__para{
  width:fit-content;
  font-size: 1.3em;
  padding-left:0.2em;
  font-family: 'Times New Roman', Times, serif;
}

/* .header__con__nav{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
} */

.header__con__nav__link{
  display:none;
  padding: 0.5em;
  text-decoration: none;
  color:white;
  font-size:1em;
  border-radius:2px;
  width:fit-content;
} 

.header__con__nav__link:hover{
  background-color:rgb(129, 126, 126); 
}

.header__name__burger{
  width:32px;
  position:absolute;
  right:20px;
}
.header__name__burger__line{
  display:block;
  width:100%;
  height:4px;
  background-color:white;
  margin: 3px;
}
.show{
  display:block;
  background-color: #212121;
  padding: 0.5em;
  text-decoration: none;
  color:white;
  font-size:1em;
  border-radius:2px;
  width:fit-content;
}
 

/*--- .home-header styles end here ---*/


/*----- footer styles begin----- */

.footer{
  width:100vw;
  padding:1em;
  display:grid;
  grid-template-columns:1fr 1fr 1fr 1fr 1fr;
  text-align: center;
  column-gap: 0.5em;
  row-gap: 1em;
  background-color: #212121;
  color:rgb(255, 255, 255);
}

.footer__copyright{
  grid-row:span 2 ;
}

.footer__foot-nav__link, .footer__write__link, .footer__follow__link-con__link{
  color:#b4adea;
}

.footer__foot-nav__link:hover{
  color:black;
  background-color: rgb(222, 215, 215);
}

.footer__foot-nav{
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  text-align: center;
  
}

.footer__write{
  width: fit-content;  
}

.footer__write__link{
  width:fit-content;
  word-break: break-all;
}

.footer__details__address, .footer__details__title{
  color:#b4adea;
}


/* -----footer styles end here----- */


/* ---styles for home page begin here ----*/

.profile-con{
  display:grid;
  row-gap:1em;
  width: 90vw;
  text-align: center;
  margin:auto;
  background-color: #ffffff;
  
}

.profile-con__card{
  display:grid;
  justify-items:center;
  padding-top:2em;
  padding-bottom:2em;
  row-gap:2em;
  margin:auto;
  width:90vw;
  height:fit-content;
  background-color: #e1e1ea;
  box-shadow: 0px 0px 10px rgb(138, 135, 135);
}

.profile-con__card__profile-picture{
  width: 13em;
  height:13em;
}
.profile-con__card__profile-picture__img{
  object-fit: cover;
  width:100%;
  height:100%;
  border-style:solid;
  border-color:#212121;
  border-width:0.2em;
  border-radius:6.5em;
}

.profile-con__card__name-status__name{
  font-size: 2.2em;
  text-align: center;
}

.profile-con__card__name-status__field{
  text-align: center;
  font-size: larger;
}

.icon-con{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
}

.icon-con__link{
  text-decoration: none;
  text-align:center;
  color:#212121;
  border-radius: 9em;
  font-size:3em;
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.nav-buttons{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.nav-buttons__form{
  padding: 0.5em;
}


.nav-buttons__form__btn{
  padding: 1em 1.5em;
  background-color: #b4adea;
  color: black;
  font-size:1em;
  font-weight: bold;
  border-style: none;
  border-radius:0.5em;
}

.profile-con__about-me{
  display:grid;
  row-gap:1em;
  margin:auto;
  width:90vw;
  padding-top:2em;
  padding-bottom:2em;
  background-color: #e1e1ea;
  box-shadow: 0px 0px 10px rgb(138, 135, 135);
}


.profile-con__about-me__header{
  display:inline-block;
  font-size: 2em;
  justify-self:self-start;
}

.profile-con__about-me__para{
  text-align:justify;
  font-size: 1em;
  margin:auto;
  padding:1em;
  color: #272633;
}

/* ---styles for home page ends here ----*/



/* ----styles for the resume page  begin here---- */

.education{
  width:90vw;
  margin: auto;
  display:grid;
  row-gap:1em;
}

.education__container{
  display:grid;
  grid-template-columns: 2fr 1fr;
  column-gap:1em;
  padding: 2em;
  justify-content: space-between;
  background-color: #e1e1ea;
  box-shadow: 0px 0px 10px rgb(138, 135, 135);
  color:rgb(34, 34, 47);
  font-weight: 600;
}

.skills-con{
  display:grid;
  row-gap:1em;
  width:90vw;
  margin: auto; 
}

.skills-con__skills{
  display:grid;
  row-gap:1em;
  padding: 2em;
  justify-content: space-between;
  background-color: #e1e1ea;
  box-shadow: 0px 0px 10px rgb(138, 135, 135);
}

.skills-con__skills__para{
  font-weight:700;
  font-size:1.1em;
}

.skills-con__skills__table__data{
  padding-right:2em;
  color: rgb(34, 34, 47);
}



.skills-con__skills__un__list{
  color: rgb(34, 34, 47);
}

.certificates{
  display:grid;
  row-gap:1em;
  width:90vw;
  margin: auto;
}

.certificates__con{
  display:grid;
  row-gap:1em;
  padding:1em;
  background-color: #e1e1ea;
  box-shadow: 0px 0px 10px rgb(138, 135, 135);
}

.certificates__con__file{
  display:grid;
  grid-template-columns: 2fr 1fr;
  column-gap:0.5em;
  padding: 1em;
  color: rgb(34, 34, 47);
  font-weight: 600;
  background-color: white;
  border-style: solid;
  border-width:1px;
  border-color: rgb(198, 198, 201);
}

.certificates__con__file__pdf{
  width: 50%;
  height:fit-content;
}

.certificates__con__file__pdf__img{
  width: 100%;
  height:100%;
}

/* ----styles for the resume page  end here---- */


/*--- styles for the hobbies page begins here----  */

.photographs{
  display:grid;
  row-gap:1em;
  width:90vw;
  margin: auto;
}

.photographs__history__para{
  font-size: 1.6em;
  color:#2e2665;
}

.photographs__con{
  display:grid;
  row-gap:1em;
  width:90vw;
  margin: auto;
}

.photographs__con__card{
  display:grid;
  row-gap:1em;
  width:90vw;
  margin: auto;
  background-color: #e1e1ea;
  box-shadow: 0px 0px 10px rgb(138, 135, 135);
}

.photographs__con__card__description__para{
  font-size: 1.2em;
}

.photographs__con__card__flower{
  width: 100%;
  height: 70%;
}

.photographs__con__card__flower__img{
  width: 100%;
  height:fit-content;
}

.movies{
  display:grid;
  row-gap:1em;
  width:90vw;
  margin: auto;
}

.movies__para{
  font-size: 1.6em;
  color:#2e2665;
}

.movies__con{
  display:grid;
  row-gap:1em;
  width:90vw;
  margin: auto;
}

.movies__con__card{
  display:grid;
  row-gap:1em;
  width:90vw;
  margin: auto;
  background-color: #e1e1ea;
  box-shadow: 0px 0px 10px rgb(138, 135, 135);
}

.movies__con__card__movie{
  width: 100%;
  height: 70%;
}

.movies__con__description__para{
  font-size: 1.2em;
  color:black;
}

.movies__con__card__movie__vid{
  object-fit: cover;
  width: 100%;
  height:fit-content;
}

.musics{
  display:grid;
  row-gap:1em;
  width:90vw;
  height:fit-content;
  margin: auto;
}

.musics__para{
  font-size: 1.6em;
  color:#2e2665;
}

.musics__con{
  display:grid;
  row-gap:1em;
  width:90vw;
  margin: auto;
}

.musics__con__card{
  display:grid;
  grid-template-columns: 1fr 1fr;
  width:90vw;
  margin: auto;
  background-color: #e1e1ea;
  box-shadow: 0px 0px 10px rgb(138, 135, 135);
}

.musics__con__card__album{
  width: 8em;
  height: fit-content;
}

.musics__con__card__album__img{
  object-fit: cover;
  width: 100%;
  height:100%;
}


.musics__con__card__music__title{
  font-size: 1.2em;
  color:black;
}

.musics__con__card__music__aud{
  width: 100%;
}


/*--- styles for the hobbies page ends here----  */


/*--- styles for the Books page begins here----  */

.favorites{
  display:grid;
  row-gap:1em;
  width:90vw;
  margin: auto;
}

.favorites__para{
  font-size: 1.6em;
  color:#2e2665;
}

.favorites__book-card{
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50vh;
  padding-right: 1em;
  padding-top:1em;
  padding-bottom:2em;
  background-color: #e1e1ea;
  box-shadow: 0px 0px 10px rgb(138, 135, 135);
}

.favorites__book-card__description{
  display: grid;
  align-items:center;
  text-align: center;
  height:fit-content;
}

.description__book-cover{
  margin: auto;
  width:10em;
  height:fit-content;
}


.description__book-cover__img{
  object-fit: cover;
  width:100%;
  height:100%;
}

.favorites__book-card__review{
  text-align: justify;
  background-color: #f5f6f8;
  padding:1em;
  box-shadow: 0px 0px 10px rgb(138, 135, 135);
  overflow-y: scroll;
}

.favorites__book-card__review__para{
  color: rgb(34, 34, 47);
  padding: 1em;
}

.read{
  display:grid;
  row-gap:1em;
  width:90vw;
  margin: auto;
}

.read__para{
  font-size: 1.6em;
  color:#2e2665;
}

.read__con{
  display: grid;
  row-gap:1em;
  padding: 2em;
  background-color: #e1e1ea;
  box-shadow: 0px 0px 10px rgb(138, 135, 135);
}

.read__con__list__ul{
  columns: 2;
} 

.want-to-read{
  display:grid;
  row-gap:1em;
  width:90vw;
  margin: auto;
}

.want-to-read__para{
  font-size: 1.6em;
  color:#2e2665;
}

.want-to-read__con{
  background-color: #e1e1ea;
  box-shadow: 0px 0px 10px rgb(138, 135, 135);
  padding:2em;
}

.want-to-read__con__list{
  columns:2;
}

/*--- styles for the Books page ends here----  */


/*--- styles for the contacts page begins here----  */
.contact__para{
  margin: auto;
  width:75vw;
}

.contact{
  display: grid;
  row-gap: 1em;
  width:75vw;
  margin: auto;
  text-align: center;
}

.contact__con{
  display:grid;
  row-gap:1em;
  padding: 2em;
  background-color: #e1e1ea;
  box-shadow: 0px 0px 10px rgb(138, 135, 135);
}

.contact__con__icon{
  font-size:2em;
  color: rgb(51, 54, 87);
}

.contact__con__form__btn{
  background-color: #b4adea;
  color: black;
  font-weight: bold;
  border-style: none;
  border-radius:0.5em;
  padding:  0.7em 2em;
}

.contact__con__form__btn:hover{
  opacity: 0.8;
}

.contact__con__form__btn:active{
  opacity: 0.6;
}

/*--- styles for the contacts page ends here----  */


/*----- making the skillssite responsive for landscape -----*/


@media all and (min-width: 750px) and (max-width: 1023px) and (orientation: landscape){

  /* ---resume page--- */

  .skills-con{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "h2 h2";
    column-gap:1em;
    width:90vw;
    margin: auto; 
  }

  .skills-con__para{
    grid-area: h2;
  }

  /* ---hobbies pages---- */

  .photographs__con{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap:0.5em;
    row-gap:1em;
  }

  .photographs__con__card{
    width:45vw;
    height: 100%;
  }
  
  .photographs__con__card__flower__img{
    width: 45vw;
    height:250px;
  }

  /* ---contact page ---*/
   
  .contact{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "h1 h1";
    column-gap:1em;
  }

  .contact__para{
    grid-area: h1;
  }

}



/*----- making the skillssite responsive for Tablet -----*/



@media all and (min-width: 1024px) and (max-width:1280px){
    
  /* --home page --*/

  .profile-con{
    display:grid;
    grid-template-columns: 1fr 1fr;
    column-gap:1em;
    width: 90vw;
    height:80vh;
  }

  .profile-con__card{
    width:100%;
    height:100%;
    padding:0;
  }

  .profile-con__about-me{
    padding:0;
    width:100%;
    height:100%;
    row-gap:0em;
    
  }

  /*--- resume page ----*/

  .skills-con{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "h2 h2 h2";
    column-gap:1em; 
  }

  .skills-con__para{
    grid-area: h2;
  }

  .skills-con__skills{
    padding:2em;
    row-gap: 0em;
    text-align: center;
  }

  .skills-con__skills__para{
    text-align: left;
  }

  .skills-con__skills__table__data{
    padding-right:0.5em;
    color: rgb(34, 34, 47);
  }

  .certificates__con{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap:1em;
    padding:1em;
  }


  /*--- hobbies page ----*/
  .photographs__con{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    column-gap:0.5em;
    row-gap:1em;
  }

  .photographs__con__card{
    width:30vw;
    height: 100%;
  }
  
  .photographs__con__card__flower__img{
    width: 30vw;
    height:30vh;
  }
  
  .movies__con{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap:1em;
  }

  .movies__con__card{
    width:100%;
    height: 100%;
  }

  .movies__con__card__movie{
    text-align: center;
  }
 
  .movies__con__card__movie__vid{
    width:303px;
    height: 202px;
  }
  
  .movies__con__description__para{
    font-size: 1.2em;
    color:black;
  }

  
.musics__con{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap:1em;
}

.musics__con__card{
  width:100%;
  height: 100%;
}

.musics__con__card__album{
  width: 100%;
}

.musics__con__card__music__aud{
  width:100%;
}

/*--- Books page ----*/
  
.favorites{
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1.6em 1fr 1fr ;
  column-gap:1em;
  grid-template-areas: "h2 h2";
}

.favorites h2{
  grid-area: h2;
}

.read{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr ;
  column-gap:1em;
  grid-template-areas: "h2 h2 h2 ";
}

.read h2{
  grid-area: h2;
}


.contact{
  vertical-align: center;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 20px 1fr 1fr;
  grid-template-areas: "h1 h1 h1";
  column-gap:2em;
}

.contact__para{
  grid-area: h1;
}
}





@media all and (min-width: 1281px){
  /* --home page --*/

  .header__con__nav{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  } 

  .header__con__nav__link{
    display:block;}

  .header__name__burger{
    display: none;
  }
  .profile-con{
    display:grid;
    grid-template-columns: 1fr 1fr;
    column-gap:1em;
    width: 90vw;
    height:80vh;
  }

  .profile-con__card{
    width:100%;
    height:100%;
    padding:0;
  }

  .profile-con__about-me{
    padding:0;
    width:100%;
    height:100%;
    row-gap:0em;
    background-color: #e1e1ea;
  }

  /*--- resume page ----*/

  .skills-con{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "h2 h2 h2";
    column-gap:1em; 
  }

  .skills-con__para{
    grid-area: h2;
  }

  .skills-con__skills{
    padding:2em;
    row-gap: 0em;
    text-align: center;
  }

  .skills-con__skills__para{
    text-align: left;
  }

  .skills-con__skills__table__data{
    padding-right:0.5em;
    color: rgb(34, 34, 47);
  }

  .certificates__con{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap:1em;
    padding:1em;
    background-color: #e1e1ea;
    box-shadow: 0px 0px 10px rgb(138, 135, 135);
  }

  

  /*--- hobbies page ----*/
  .photographs__con{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    column-gap:0.5em;
    row-gap:1em;
  }

  .photographs__con__card{
    width:30vw;
    height: 100%;
  }
  
  .photographs__con__card__flower__img{
    width: 30vw;
    height:35vh;
  }
  
  .movies__con{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap:1em;
  }

  .movies__con__card{
    width:100%;
    height: 100%;
  }

  .movies__con__card__movie{
    text-align: center;
  }
 
  .movies__con__card__movie__vid{
    width: 370px;
    height:270px;
  }
  
  .movies__con__description__para{
    font-size: 1.2em;
    color:black;
  }

  
  .musics__con{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap:1em;
  }

  .musics__con__card{
    width:100%;
    height: 100%;
  }

  .musics__con__card__album{
    width: 100%;
  }

  .musics__con__card__music__aud{
    width:100%;
  }

  /*--- Books page ----*/
    
  .favorites{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.6em 1fr 1fr ;
    column-gap:1em;
    grid-template-areas: "h2 h2";
  }

  .favorites h2{
    grid-area: h2;
  }

  .read{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr ;
    column-gap:1em;
    grid-template-areas: "h2 h2 h2 ";
  }

  .read h2{
    grid-area: h2;
  }


  .contact{
    vertical-align: center;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 20px 1fr 1fr;
    grid-template-areas: "h1 h1 h1";
    column-gap:2em;
  }

  .contact__para{
    grid-area: h1;
  }
}

